*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* --- Основной код --- */

.content {
  display: flex;
  align-items: end;
  column-gap: 30px;
  margin: 0 auto;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.search-form {
  display: flex;
  column-gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: fit-content;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: transparent;
  appearance: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 399px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-self: start;
  height: 298px;
  overflow-y: auto;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  text-decoration: none;
  background: #545050;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 90%;
  word-break: break-all;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  max-width: 200px;
  padding-top: 4px;
  padding-left: 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-left: auto;
  padding: 2px 0;
  object-fit: cover;
}

.more-button {
  width: 100%;
}

/* --- Отдел. Доп свойств --- */

/* Скрыть элементы  */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Общий фокус для всех элементов формы  */

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* --- Отдел. Отдельные свойста для чекбоксов --- */

/* Ховер для чекбоксов, чтоб при навидении на квадрат у слово тоже линия срабатывала  */

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* --- Отдел. Общие свойста для кнопак --- */

.button {
  border: 1px solid #fff;
  padding: 5px 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  text-decoration: none;
  background: #545050;  
}